{% extends "main.html" %}
{% block content %}
<style type="text/css">



</style>

<section>
</div>
	<div class="bg-dark">
		<div class="jumbotron container-fluid bg-dark text-center geneHero" style="padding-bottom: 10px;">
			<object class="float" width="20%" data="/static/img/mygene-logo-shiny.svg" style="padding-top:100px;"></object>
			<br />
			<div class="logo-shadow blur" style="width: 15%; height: 15px; background: rgb(41, 47, 48); opacity:.4; border-radius:100%; margin: 0 auto;" ></div>
			<h1 class="text-light logoFont lighter textShadow" style="margin-bottom: 10px; font-size: 8vw;">
				My<span class="text-blue">Gene</span>.info
			</h1>
			<h3 class="text-light lighter smallCaps" style="font-size: 3vw;">
				Gene Annotation as a Service.
			</h3>
			<p class="text-center text-blue">
				Last Updated <span id="buildDateTarget" class="text-light"></span>
			</p>
		</div>
		<div class="text-center padding40 container-fluid">
				<a href="/static/html/index.html" class="mainButton margin20">Try Live API Now</a>
		</div>
		<div class="text-center">
			<a class="smallButton" href="http://docs.myvariant.info/en/latest/index.html" target="_blank">Docs <i class="fas fa-external-link-square-alt"></i></a>
			<a class="smallButton" href="https://stats.uptimerobot.com/polzSx91" target="_blank">API Status <i class="fas fa-external-link-square-alt"></i></a>
		</div>
<!-- Stats -->
		<div class="container-fluid text-center chartBackground" style="margin: 20px 0px;">
			<h1 id="testNum" class="text-light" style="margin-bottom: 10px; text-shadow:0px 0px 10px var(--blue-medium);">0</h1>
			<p class="text-light smallCaps">
				Requests in the last 30 days
			</p>
			<section id="APIStatusInterface" class="transparent">
				<div class="transparent">
					<div>
						<h2 class="text-blue noMargin lighter"><img width="35px" src="/static/img/mygene-favicon.png" alt="logo"/> UpTime Quick Stats</h2>
					</div>
					<div class="row justify-content-md-center">
						<div class="col-md-auto">
							<table class="table transparent table-sm noMargin">
								<thead class="noBorder">
									<th class="text-muted text-center">
										<span class="text-light" id="yesterday">1 day ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange2">0</span>%</span>
									</th>
									<th class="text-muted text-center">
										<span class="text-light" id="days2">2 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange3">0</span>%</span>
									</th>
									<th class="text-muted text-center">
										<span class="text-light" id="days3">3 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange4">0</span>%</span>
									</th>
									<th class="text-muted text-center">
										<span class="text-light" id="days4">4 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange5">0</span>%</span>
									</th>
									<th class="text-muted text-center">
										<span class="text-light" id="days5">5 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange6">0</span>%</span>
									</th>
									<th class="text-muted text-center">
										<span class="text-light" id="days6">6 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange7">0</span>%</span>
									</th>
									<th class="text-muted text-center">
										<span class="text-light" id="days7">7 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange8">0</span>%</span>
									</th>
								</thead>
						</table>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transparent">
							<ul class="list-group">
								<li class="list-group-item bg-dark text-center text-light transparent">
							  	UpTime Last 24 hours: <span id="daysRange1">0</span>%
							  </li>
							  <li class="list-group-item text-center transparent">
							  	<h3 class="text-light noMargin">API Status: <span id="apiStatus"></span></h3>
							  </li>
								<li class="list-group-item bg-dark text-center text-muted transparent">
									<div class="row justify-content-md-center">
										<div class="col-md-auto">
									  	<table class="table table-sm table-dark noMargin noBorder transparent">
												<thead class="noBorder">
													<th class="text-center text-light">Last 7 Days</th>
													<th class="text-center text-light">This Month</th>
													<th class="text-center text-light">Last Month</th>
												</thead>

												<tbody>
													<tr>
														<td><h3 class="text-blue noMargin"><span id="daysRange9">0</span>%</h3></td>
														<td><h3 class="text-blue noMargin"><span id="daysRange10">0</span>%</h3></td>
														<td><h3 class="text-blue noMargin"><span id="daysRange11">0</span>%</h3></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
							  </li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="bg-dark fullWidth padding40 row marginFix" >
			  <div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/performance-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">High performance</h3>
					<p class="smallCaps">
						Fast API access to update-to-date Gene annotations
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/uptodate-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">Up-to-date</h3>
					<p class="smallCaps">
						Weekly updated gene annotations from over 30 sources.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/integrated-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">Pre-integrated</h3>
					<p class="smallCaps">
						Gene annotations for >20M genes (>17K species) are pre-integrated.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/simple-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">Simple to use</h3>
					<p class="smallCaps">
						Just two end-points to retrieve annotations via Gene IDs or any query term.
					</p>
				</div>
		</div>
	</div>
</section>

<!-- Examples for large and medium devices -->
<section class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-light" style="max-height: 800px; overflow: scroll; position: relative;">
			<ul class="list-group" >
				<li class="list-group-item center" style="border-radius: 0px !important;">
					<h2 class="text-muted lighter noMargin">Query Examples</h2>
				</li>
			  <li class="list-group-item">
					<h4 class="noMargin">Retreiving by Entrz or Enesmbl gene id</h4>
					<br />
					http://mygene.info/v3/gene/<span class="text-blue">1017</span>
					<button data-url='http://mygene.info/v3/gene/1017' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Retreive all where symbol is CDK2</h4>
					<br />
					http://mygene.info/v3/<span class="text-blue">query?q=symbol:cdk2</span>
					<button data-url='http://mygene.info/v3/query?q=symbol:cdk2' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Get gene summary text for Insulin</h4>
					<br />
					http://mygene.info/v3/<span class="text-blue">query?q=summary:insulin</span>
					<button data-url='http://mygene.info/v3/query?q=summary:insulin' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Retreive by UniProt id</h4>
					<br />
					http://mygene.info/v3/<span class="text-blue">query?q=uniprot:P24941</span>
					<button data-url='http://mygene.info/v3/query?q=uniprot:P24941' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Batch queries? Yes, supported!</h4>
					<br />
					<span class="text-blue">POST</span> http://mygene.info/v3/gene
					<a target="_blank" href='http://docs.mygene.info/en/latest/doc/annotation_service.html#batch-queries-via-post' type="button" class="btn btn-primary float-right text-light">Learn More</a>

				</li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 codeBack" style="max-height: 800px; overflow: scroll; border-style: inset; border: 4px #c9c9c9 solid;box-shadow: inset 0 0 10px #000000;">
			<div id="loading" class="center" style="display: none;">
				<h2 style="padding-top: 50%;" class="text-primary padding20">Loading...</h2>
			</div>
			<pre id="callResults" class="padding20 text-dark" style="font-weight: bold;">

			</pre>
		</div>
	</div>
</section>

<!-- Table display for small devices -->
<section class="text-center text-light d-block d-sm-block d-md-none d-lg-none d-xl-none bg-dark">
	<h2 class="text-muted lighter noMargin">Query Examples</h2>
  <span class="text-muted">Scroll For More <i class="fas fa-hand-point-down text-blue Ani"></i></span>
	<table class="table table-dark table-responsive">
  <thead>
    <tr>
      <th class="text-muted text-center" scope="col">Description</th>
      <th class="text-muted text-center" scope="col">Query</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h4 class="noMargin text-muted">Retreiving by Entrz or Enesmbl gene id</h4></td>
      <td>http://mygene.info/v3/gene/<span class="text-blue">1017</span></td>
    </tr>
		<tr>
      <td><h4 class="noMargin text-muted">Retreive all where symbol is CDK2</h4></td>
      <td>http://mygene.info/v3/<span class="text-blue">query?q=symbol:cdk2</span></td>
    </tr>
		<tr>
      <td><h4 class="noMargin text-muted">Get gene summary text for Insulin</h4></td>
      <td>http://mygene.info/v3/<span class="text-blue">query?q=summary:insulin</span></td>
    </tr>
		<tr>
      <td><h4 class="noMargin text-muted">Retreive by UniProt id</h4></td>
      <td>http://mygene.info/v3/<span class="text-blue">query?q=uniprot:P24941</span></td>
    </tr>
		<tr>
      <td><h4 class="noMargin text-muted">Batch queries? Yes, supported!</h4>
      <td>
				<span class="text-blue">POST</span> http://mygene.info/v3/gene
				<a target="_blank" href='http://docs.mygene.info/en/latest/doc/annotation_service.html#batch-queries-via-post' type="button" class="btn btn-primary float-right text-light">Learn More</a>
			</td>
    </tr>
  </tbody>
</table>
</section>

<!-- Section -->
	<section id="four" class="main accent bg-dark">
		<a name="news"></a>
		<header class="text-center padding20">
			<h2 class="text-muted lighter padding20">What's new</h2>
		</header>
		<div class="inner">
			<div class="posts">
				{% for post in posts %}
				<div>
					<article class="box">
						<div class="content">
							{%if post.author.profile_image %}
			        <img class="post_author_img" src={{post.author.profile_image}} />
              {% if post.author.slug %}
                <a href="/author/{{post.author.slug}}">{{post.author.name}}</a>
              {% else %}
                {{post.author.name}}
              {% endif %}
							{% else %}
							<img class="post_author_img" src='/static/img/mygene-default-user.png' />
              {% if post.author.slug %}
                <a href="/author/{{post.author.slug}}">{{post.author.name}}</a>
              {% else %}
                {{post.author.name}}
              {% endif %}
			        {% endif %}
							<a href="/blog/{{post.slug}}">
								<h4 class="text-blue">{{post.title}}</h4>
							</a>
							<p class="text-muted">{{post.html|striptags|truncate(100)}}</p>
							<ul class="actions">
								<li><a href="/blog/{{post.slug}}" class="btn btn-dark text-blue btn-sm small">More</a></li>
							</ul>
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
			<p class="more_news" style="padding-bottom:40px;"><a href="/blog" class="mainButton special fit small">More&nbspNews</a></p>
		</div>
	</section>




{% endblock %}
			{% block extra_scripts %}
			<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
			<script src="/static/js/countUp.js"></script>
			<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script> -->
			<script src="/static/js/app.js"></script>
			<script src="/static/js/moment.js"></script>
			<script>

			$( document ).ready(function() {
					var yesterday = moment().subtract(1, 'days').format('MM-DD');
					var days2 = moment().subtract(2, 'days').format('MM-DD');
					var days3 = moment().subtract(3, 'days').format('MM-DD');
					var days4 = moment().subtract(4, 'days').format('MM-DD');
					var days5 = moment().subtract(5, 'days').format('MM-DD');
					var days6 = moment().subtract(6, 'days').format('MM-DD');
					var days7 = moment().subtract(7, 'days').format('MM-DD');
					$('#yesterday').html(yesterday);
					$('#days2').html(days2);
					$('#days3').html(days3);
					$('#days4').html(days4);
					$('#days5').html(days5);
					$('#days6').html(days6);
					$('#days7').html(days7);
			});

			$('.callButton').on('click', function(){
				var myUrl = $(this).data('url');
				$('#callResults').html('');
				$('#loading').show();
				$.ajax({
					url: myUrl,
					dataType: 'JSON',
     			contentType: 'application/json;charset=UTF-8',
					success:function(result){
						$('#loading').hide();
						$('#callResults').html( JSON.stringify(result, undefined, 2) );
				}});
			})

			</script>
			{% endblock %}
