{% extends "main.html" %}
{% block content %}
<style type="text/css">

.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: var(--green-dark);
                             font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: var(--blue-dark); }
.renderjson .number        { color: grey; }
.renderjson .boolean       { color: var(--green-medium); }
.renderjson .key           { color: var(--blue-medium) }
.renderjson .keyword       { color: var(--orange-dark); }
.renderjson .object.syntax { color: var(--blue-light) }
.renderjson .array.syntax  { color: var(--orange-light); }

.asterisk{
    vertical-align:sub;
}
.vertical-align{
  vertical-align: middle;
}


</style>

<section>
</div>
	<div class="bg-dark">
		<div class="jumbotron container-fluid bg-dark text-center geneHero" style="padding-bottom: 10px;">
			<div class="d-none d-sm-block">
        <object class="float" width="20%" data="/static/img/mygene-logo-shiny.svg" style="padding-top:100px;"></object>
  			<br />
  			<div class="logo-shadow blur" style="width: 15%; height: 15px; background: rgb(41, 47, 48); opacity:.4; border-radius:100%; margin: 0 auto;" ></div>
  			<h1 class="text-light logoFont lighter textShadow" style="margin-bottom: 10px; font-size: 6em;">
  				My<span class="text-blue">Gene</span>.info
  			</h1>
        <h3 class="text-light lighter smallCaps" style="font-size: 3vw;">
  				Gene Annotation as a Service
  			</h3>
      </div>
      <div class="d-sm-none d-block">
        <object class="float" width="60%" data="/static/img/mygene-logo.svg" style="padding-top:100px;"></object>
        <h1 class="text-light logoFont lighter textShadow" style="margin-bottom: 10px; font-size: 8vw;">
  				My<span class="text-blue">Gene</span>.info
  			</h1>
        <h3 class="text-light lighter smallCaps">
  				Gene Annotation as a Service
  			</h3>
      </div>

			<h1 id="testNum" class="text-light" style="margin-bottom: 10px; text-shadow:0px 0px 10px var(--blue-medium);">-</h1>
			<p class="text-light smallCaps" style="font-size: 1.5em;">
				Requests in the last 30 days
			</p>
			<p class="text-center text-blue">
				Last Updated <a href="http://mygene.info/v3/metadata" target="_blank"><span id="buildDateTarget" class="text-light"></span></a>
			</p>
		</div>
		<div class="text-center padding40 container-fluid">
				<a href="/v3/api" class="mainButton margin20">Try Live API Now</a>
		</div>
		<div class="text-center">
			<a class="smallButton" href="http://docs.mygene.info/en/latest/index.html" target="_blank">Docs <i class="fas fa-external-link-square-alt"></i></a>
			<a class="smallButton" href="https://stats.uptimerobot.com/7y2AFWAE" target="_blank">API Status <i class="fas fa-external-link-square-alt"></i></a>
		</div>
<!-- Stats -->
		<div class="container-fluid text-center chartBackground" style="margin: 20px 0px;">

			<section id="APIStatusInterface" class="transparent">
				<div class="transparent">
					<div>
						<h2 class="text-blue noMargin lighter">UpTime Quick Stats<span class="asterisk">*</span></h2>
					</div>
					<div class="row justify-content-md-center">
						<div class="col-md-auto">
							<h3 class="text-light noMargin padding20">API Status: <span id="apiStatus">Status Unavailable</span></h3>
              <p class="text-light">
                UpTime Last 24 hours: <span id="daysRange1">?</span>%
              </p>
							<table class="table transparent table-sm noMargin">
                <thead>
                  <th colspan="7" class="text-center text-light">
                    Uptime: Last 7 Days
                  </th>
                </thead>
								<tbody class="noBorder">
                  <tr>
									<td class="text-muted text-center">
										<span class="text-light" id="yesterday">1 day ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange2">?</span>%</span>
									</td>
									<td class="text-muted text-center">
										<span class="text-light" id="days2">2 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange3">?</span>%</span>
									</td>
									<td class="text-muted text-center">
										<span class="text-light" id="days3">3 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange4">?</span>%</span>
									</td>
									<td class="text-muted text-center">
										<span class="text-light" id="days4">4 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange5">?</span>%</span>
									</td>
									<td class="text-muted text-center">
										<span class="text-light" id="days5">5 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange6">?</span>%</span>
									</td>
									<td class="text-muted text-center">
										<span class="text-light" id="days6">6 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange7">?</span>%</span>
									</td>
									<td class="text-muted text-center">
										<span class="text-light" id="days7">7 days ago</span>
										<br />
							      <span class="text-blue"><span id="daysRange8">?</span>%</span>
									</td>
                </tr>
								</tbody>
						</table>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transparent">
							<ul class="list-group">
								<li class="list-group-item bg-dark text-center text-muted transparent">
									<div class="row justify-content-md-center">
										<div class="col-md-auto">
									  	<table class="table table-sm table-dark noMargin noBorder transparent">
												<thead class="noBorder">
													<th class="text-center text-light">This Week</th>
													<th class="text-center text-light">This Month</th>
													<th class="text-center text-light">Last Month</th>
												</thead>

												<tbody>
													<tr class="transparent">
														<td><h3 class="text-blue noMargin"><span id="daysRange9">?</span>%</h3></td>
														<td><h3 class="text-blue noMargin"><span id="daysRange10">?</span>%</h3></td>
														<td><h3 class="text-blue noMargin"><span id="daysRange11">?</span>%</h3></td>
													</tr>
                          <tr>
                            <td colspan="3">
                              <p class="smallFont text-light">
                                * Monitored every 5 minutes
                              </p>
                            </td>
                          </tr>
												</tbody>
											</table>
										</div>
									</div>
							  </li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>

    <section class="fullWidth usingContainer bg-light" style="margin: 0px;">
      <div class="col-sm-12 col-md-12 col-lg-12 center" style="padding: 40px;">
        <h1 class="noMargin">Who is using <span class="logoFont text-blue">MyGene.info</span></h1>
      </div>
      <div class="usingBox">
        <a target="_blank" href="https://civicdb.org/home" style="border:none !important;">
          <img src="/static/img/using-1.png"  alt="logo"/>
        </a>
      </div>
      <div class="usingBox">
        <a target="_blank" href="http://biogps.org/#goto=welcome" style="border:none !important;">
          <img src="/static/img/using-2.png"  alt="logo"/>
        </a>
      </div>
      <div class="usingBox">
        <a target="_blank" href="https://monarchinitiative.org/" style="border:none !important;">
          <img src="/static/img/using-3.png"  alt="logo"/>
        </a>
      </div>
      <div class="usingBox">
        <a target="_blank" href="http://www.informatics.jax.org/" style="border:none !important;">
          <img src="/static/img/using-4.png"  alt="logo"/>
        </a>
      </div>
      <div class="usingBox">
        <a target="_blank" href="https://ncats.nih.gov/translator" style="border:none !important;">
          <img src="/static/img/using-5.png"  alt="logo"/>
        </a>
      </div>
      <div class="usingBox">
        <a target="_blank" href="https://chlambase.org/" style="border:none !important;">
          <img src="/static/img/using-6.png"  alt="logo"/>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 center" style="padding: 40px;">
        <a href="http://biothings.io/who-is-using" target="_blank">
          and many more!
        </a>
      </div>
    </section>

		<div class="bg-dark fullWidth padding40 row marginFix" >
			  <div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/performance-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">High performance</h3>
					<p class="smallCaps">
						Fast API access to up-to-date Gene annotations
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/uptodate-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">Up-to-date</h3>
					<p class="smallCaps">
						Weekly updated gene annotations from over 30 sources.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/integrated-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">Pre-integrated</h3>
					<p class="smallCaps">
						Gene annotations for >22M genes (>22K species) are pre-integrated.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/simple-2.svg' width="100px"></object>
					<h3 class="text-blue lighter smallCaps">Simple to use</h3>
					<p class="smallCaps">
						Just two end-points to retrieve annotations via Gene IDs or any query term.
					</p>
				</div>
		</div>
	</div>
</section>

<!-- Examples for large and medium devices -->
<section class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-light" style="max-height: 800px; overflow: scroll; position: relative;">
			<ul class="list-group" >
				<li class="list-group-item center" style="border-radius: 0px !important;">
					<h2 class="text-muted lighter noMargin">Query Examples</h2>
				</li>
			  <li class="list-group-item">
					<h4 class="noMargin">Retrieve by Entrez or Ensembl gene id</h4>
					<br />
					<span class="text-blue bold">GET</span> http://mygene.info/v3/gene/<span class="text-blue bold">1017</span>
					<button style="cursor: pointer !important;" data-url='http://mygene.info/v3/gene/1017' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Retrieve genes with symbol CDK2</h4>
					<br />
					<span class="text-blue bold">GET</span> http://mygene.info/v3/<span class="text-blue bold">query?q=symbol:cdk2</span>
					<button style="cursor: pointer !important;" data-url='http://mygene.info/v3/query?q=symbol:cdk2' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Get genes related to "Insulin"</h4>
					<br />
					<span class="text-blue bold">GET</span> http://mygene.info/v3/<span class="text-blue bold">query?q=summary:insulin</span>
					<button style="cursor: pointer !important;" data-url='http://mygene.info/v3/query?q=summary:insulin' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Retrieve by UniProt id</h4>
					<br />
					<span class="text-blue bold">GET</span> http://mygene.info/v3/<span class="text-blue bold">query?q=uniprot:P24941</span>
					<button style="cursor: pointer !important;" data-url='http://mygene.info/v3/query?q=uniprot:P24941' type="button" class="btn btn-primary float-right text-light callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Batch queries? Yes, supported!</h4>
					<br />
					<span class="text-blue bold">POST</span> http://mygene.info/v3/gene
					<a target="_blank" href='http://docs.mygene.info/en/latest/doc/annotation_service.html#batch-queries-via-post' class="btn btn-primary float-right text-light">Learn More <i class="fas fa-external-link-square-alt"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 codeBack" style="max-height: 800px; overflow: scroll; border-style: inset; border: 4px #c9c9c9 solid;box-shadow: inset 0 0 10px #000000;">
			<div id="loading" class="center" style="display: none;">
				<h2 style="padding-top: 50%;" class="text-primary padding20">Loading...</h2>
			</div>
			<pre id="callResults" class="padding20 text-dark" style="font-weight: bold;">

			</pre>
		</div>
	</div>
</section>

<!-- Table display for small devices -->
<section class="text-center text-light d-block d-sm-block d-md-none d-lg-none d-xl-none bg-dark">
	<h2 class="text-muted lighter">Query Examples</h2>
  <!-- <span class="text-muted">Scroll For More <i class="fas fa-hand-point-down text-blue Ani"></i></span> -->
	<table class="table table-dark table-responsive">
  <thead>
    <tr>
      <th class="text-muted text-center" scope="col">Description</th>
      <th class="text-muted text-center" scope="col">Query</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="vertical-align smallFont"><h4 class="noMargin text-muted smallFont">Retreiving by Entrz or Enesmbl gene id</h4></td>
      <td class="vertical-align smallFont"><span class="text-blue">GET</span>&nbsp;http://mygene.info/v3/gene/<span class="text-blue bold">1017</span></td>
    </tr>
		<tr>
      <td class="vertical-align smallFont"><h4 class="noMargin text-muted smallFont">Retreive all where symbol is CDK2</h4></td>
      <td class="vertical-align smallFont"><span class="text-blue">GET</span>&nbsp;http://mygene.info/v3/<span class="text-blue bold">query?q=symbol:cdk2</span></td>
    </tr>
		<tr>
      <td class="vertical-align smallFont"><h4 class="noMargin text-muted smallFont">Get gene summary text for Insulin</h4></td>
      <td class="vertical-align smallFont"><span class="text-blue">GET</span>&nbsp;http://mygene.info/v3/<span class="text-blue bold">query?q=summary:insulin</span></td>
    </tr>
		<tr>
      <td class="vertical-align smallFont"><h4 class="noMargin text-muted smallFont">Retreive by UniProt id</h4></td>
      <td class="vertical-align smallFont"><span class="text-blue">GET</span>&nbsp;http://mygene.info/v3/<span class="text-blue bold">query?q=uniprot:P24941</span></td>
    </tr>
		<tr>
      <td><h4 class="noMargin text-muted smallFont">Batch queries? Yes, supported!</h4>
      <td style="vertical-align:middle;">
				<span class="text-blue">POST</span> http://mygene.info/v3/gene <br />
        <a target="_blank" href='http://docs.mygene.info/en/latest/doc/annotation_service.html#batch-queries-via-post' type="button" class="smallButton text-light">Learn More <i class="fas fa-external-link-square-alt"></i></a>
			</td>
    </tr>
  </tbody>
</table>
</section>

<!-- Section -->
	<section id="four" class="main accent bg-dark">
		<a name="news"></a>
		<header class="text-center padding20">
			<h2 class="text-muted lighter padding20">What's new</h2>
		</header>
		<div class="inner">
			<div class="posts">
				{% for post in posts %}
				<div>
					<article class="box">
						<div class="content">
							{%if post.author.profile_image %}
			        <img class="post_author_img" src={{post.author.profile_image}} />
              {% if post.author.slug %}
                <a href="/author/{{post.author.slug}}">{{post.author.name}}</a>
              {% else %}
                {{post.author.name}}
              {% endif %}
							{% else %}
							<img class="post_author_img" src='/static/img/mygene-default-user.png' />
              {% if post.author.slug %}
                <a href="/author/{{post.author.slug}}">{{post.author.name}}</a>
              {% else %}
                {{post.author.name}}
              {% endif %}
			        {% endif %}
							<a href="/blog/{{post.slug}}">
								<h4 class="text-blue">{{post.title}}</h4>
							</a>
							<p class="text-muted">{{post.html|striptags|truncate(100)}}</p>
							<ul class="actions">
								<li><a href="/blog/{{post.slug}}" class="btn btn-dark text-blue btn-sm small">More</a></li>
							</ul>
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
			<p class="more_news" style="padding-bottom:40px;"><a href="/blog" class="mainButton special fit small">More&nbspNews</a></p>
		</div>
	</section>

	<section class="text-light" style="background-color: var(--blue-medium); padding: 20px 10%;">
		<p class="noMargin padding20">
			<b class="text-light">Medical Disclaimer: This resource is intended for purely research purposes. It should not be used for emergencies or medical or professional advice.</b>
		</p>
	</section>
  <section class="text-light" style="background-color: var(--blue-dark); padding: 20px 10%;">
    <h4 class="text-light padding20">Need Help?</h4>
    <ul>
      <li>
        Email us <a class="text-light" href='mailto:biothings@googlegroups.com'><i class="fa fa-envelope" aria-hidden="true"></i> biothings@googlegroups.com</a>
      </li>
      <li>
        Find a bug or have an awesome idea? <a class="github-button" href="https://github.com/biothings/mygene.info/issues" aria-label="Issue biothings/mygene.info on GitHub">Issue</a>
      </li>
      <li>
        Follow and contact us on Twitter <a href="https://twitter.com/MyGeneInfo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @MyGeneInfo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </li>
      <li>
        Post a question on <a class="text-light" target="_blank" href="https://www.biostars.org/p/new/post/?tag_val=mygene">BioStars.org</a> with tag <b class="text-light">#mygene</b>.
      </li>
    </ul>
	</section>


{% endblock %}
			{% block extra_scripts %}
      <!-- Place this tag in your head or just before your close body tag. -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
			<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
			<script src="/static/js/countUp.js"></script>
			<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script> -->
			<script src="/static/js/app.js"></script>
			<script src="/static/js/moment.js"></script>
			<script src="/static/js/renderjson.js"></script>
			<script>

			$( document ).ready(function() {
					var yesterday = moment().subtract(1, 'days').format('MMM DD');
					var days2 = moment().subtract(2, 'days').format('MMM DD');
					var days3 = moment().subtract(3, 'days').format('MMM DD');
					var days4 = moment().subtract(4, 'days').format('MMM DD');
					var days5 = moment().subtract(5, 'days').format('MMM DD');
					var days6 = moment().subtract(6, 'days').format('MMM DD');
					var days7 = moment().subtract(7, 'days').format('MMM DD');
					$('#yesterday').html(yesterday);
					$('#days2').html(days2);
					$('#days3').html(days3);
					$('#days4').html(days4);
					$('#days5').html(days5);
					$('#days6').html(days6);
					$('#days7').html(days7);
			});

			$('.callButton').on('click tap', function(){
				var myUrl = $(this).data('url');
				$('#callResults').html('');
				$('#loading').show();
				$.ajax({
					url: myUrl,
					dataType: 'JSON',
     			contentType: 'application/json;charset=UTF-8',
					success:function(result){
						$('#loading').hide();
						renderjson.set_show_to_level(7);
						$('#callResults').html( renderjson(result) );

				}});
			});

			$(document).on('click','a',function(e){
				if (e.target.href.slice(-1) === '#') {
					return false;
				}
			})


			</script>
			{% endblock %}
