/* ****************************************** */
/* ***********   GENERAL USE  *************** */
/* ****************************************** */
:root {
  --blue-dark: #3366CC;
  --blue-medium: #2A7FE2;
  --blue-light: #669BE8;

  --green-dark: #40B307;
  --green-medium: #67CF2E;
  --green-light: #85D958;

  --orange-dark: #CC6633;
  --orange-medium: #FD7400;
  --orange-light: #FF8E39;
}
::selection{
  background-color: var(--blue-dark);
  color: white;
}

.anchorLink  a{
	transition: .4s all;
}

.anchorLink:hover a{
	opacity: 1 !important;
}

.usingBox img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  padding: 10px;
  transition: all .5s;
}
.usingBox img:hover{
  filter: none;
}

.usingContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .usingBox{
    flex:1;
    flex-basis: 250px;
    max-width: 250px;
    padding: 10px;
    vertical-align: middle;
  }

  .usingBox img{
    width: 90%;
  }


@media only screen and (max-width: 600px) {

  .usingContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .usingBox{
      flex:1;
      flex-basis: 40%;
      max-width: 40%;
      padding: 2px;
      vertical-align: middle;
    }
}


.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

@keyframes Ani {
  0% {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 0;
  }
  50% {
      -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
      transform: translateX(30px);
      opacity: 1;
  }
  100% {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 0;
  }
}

  .Ani {
      animation: Ani 3s linear infinite;
      -webkit-animation: Ani 3s linear infinite;

  }

  div.content a:hover{
    color: var(--blue-medium) !important;
  }

a.link:hover{
  text-decoration: none !important;
  color: white !important;
}
a.link{
  border-bottom: none;
}
.navbar-brand:hover, .nav-link:hover{
  color: white !important;
}

.roundPic{
  border-radius: 100%;
}

.geneHero{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url('../img/mygene-hero.jpg');
}

.textShadow{
  text-shadow: 2px 2px 4px #323232;
}

.padding20{
  padding: 20px;
}

.marginFix{
  margin-left: 0px !important;
}

.margin20{
  margin:20px;
}

.padding40{
  padding: 40px;
}

.smallFont{
  font-size: 12px;
}

.lighter{
  font-weight: lighter;
}

.noListStyle{
  list-style: none;
}

.listBlock li{
  display: inline-block;
  margin: 15px;
}

.link{
  color: #8f8f8f;
  transition: 1s all;
}

.link:hover{
  color: white;
}

.fullWidth{
  width: 100%;
}

.bg-hover-animate{
  transition: all 1s;
  background-color: rgba(255,255,255,.0);
}

.bg-hover-animate:hover{
  transition: all 1s;
  background-color: rgba(255,255,255,1);
  color:#323232;
  text-decoration: none;
}

.no-decoration{
  text-decoration: none;
}

h1,h2,h3,h4,h5,p,a{
  font-weight: lighter;
}

.noPadding{
  padding: 0px !important;
}

.noMargin{
  margin: 0px !important;
}

.smallCaps{
  font-variant: small-caps;
}
/* ****************************************** */
/* ***************   COLOR  ***************** */
/* ****************************************** */

:root {
  --blue-dark: #3366CC;
  --blue-medium: #2A7FE2;
  --blue-light: #669BE8;

  --green-dark: #40B307;
  --green-medium: #67CF2E;
  --green-light: #85D958;

  --orange-dark: #CC6633;
  --orange-medium: #FD7400;
  --orange-light: #FF8E39;
}

.contentBack{
  background-color: #e6e6e6;
}

.blueBack{
  background-color: var(--blue-medium) ;
}

.blueBackGradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353a40+0,2a7fe2+100 */
  background: rgb(53,58,64); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(53,58,64,1) 0%, rgba(42,127,226,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(53,58,64,1) 0%,rgba(42,127,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(53,58,64,1) 0%,rgba(42,127,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353a40', endColorstr='#2a7fe2',GradientType=1 ); /* IE6-9 */
}

.chartBackground{
  background-image: url('../img/mygene-chart.svg');
  background-size: cover;
  background-position: center;
}

.greenBack{
  background-color: var(--green-medium);
}

.greenBackGradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353a40+0,40b307+100 */
background: rgb(53,58,64); /* Old browsers */
background: -moz-linear-gradient(left, rgba(53,58,64,1) 0%, rgba(64,179,7,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(53,58,64,1) 0%,rgba(64,179,7,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(53,58,64,1) 0%,rgba(64,179,7,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353a40', endColorstr='#40b307',GradientType=1 ); /* IE6-9 */
}

.orangeBack{
  background-color: var(--orange-medium);
}

.orangeBackGradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353a40+0,fd7400+100 */
background: rgb(53,58,64); /* Old browsers */
background: -moz-linear-gradient(left, rgba(53,58,64,1) 0%, rgba(253,116,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(53,58,64,1) 0%,rgba(253,116,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(53,58,64,1) 0%,rgba(253,116,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353a40', endColorstr='#fd7400',GradientType=1 ); /* IE6-9 */
}

.text-blue{
  color: var(--blue-light);
}

.text-green{
  color: var(--green-light);
}

.text-orange{
  color: var(--orange-light);
}

/* ****************************************** */
/* ***************   FONTS  ***************** */
/* ****************************************** */

@font-face {
    font-family: logoFont;
    src: url('../fonts/recharge.ttf');
  }

.logoFont{
  font-family: logoFont;
}

/* ****************************************** */
/* ***********   GRADIENTS  ***************** */
/* ****************************************** */
.animated-blue-bg{
  background: linear-gradient(270deg, #376bc8, #699ee4);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.animated-green-bg{
  background: linear-gradient(270deg, #8cd664, #4eb02b);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.animated-orange-bg{
  background: linear-gradient(270deg, #f98e52, #c8653c);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* ****************************************** */
/* ************** ANIMATIONS   ************** */
/* ****************************************** */
.float {
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-16 9:24:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */

 .themeButton {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  -webkit-box-shadow: inset 0 0 0 2px #585858;
          box-shadow: inset 0 0 0 2px #585858;
  color: white;
  font-size: inherit;
  font-weight: lighter;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  word-break:keep-all;
}

.themeButton::before, .themeButton::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.themeButton:hover{
  text-decoration: none;
}

.mainButton{
  /* light #669BE8  */
  /* dark #2A7FE2 */
  padding: 15px;
  margin:20px;
  background-color: rgba(42, 137, 226, 0.1);
  color:white;
  text-decoration: none;
  font-weight: lighter;
  border:var(--blue-light) 2px solid;
  transition: 1s all;
  word-break:keep-all;
}

.mainButton:hover{
  /* light #669BE8  */
  /* dark #2A7FE2 */
  padding: 15px;
  margin:20px;
  background-color: rgba(42, 137, 226, 0.4);
  color:white !important;
  text-decoration: none;
  font-weight: lighter;
  border:white 2px solid;
  transition: 1s all;

}

.smallButton{
  padding: 7px;
  background-color: rgba(0,0,0,.1);
  color:#afafaf;
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
  border: #737373 1px solid;
  transition: 1s all;
  word-break:keep-all;
}

.smallButton:hover{
  padding: 7px;
  background-color: rgba(0,0,0,.4);
  color:white !important;
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
  border: white 1px solid;
  transition: 1s all;
}

.draw {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: white;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: white;
  border-right-color: white;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: white;
  border-left-color: white;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

 .swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}


@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}

button{
  color:black !important;
}

.btn:hover{
  color: white !important;
}



.codeBack{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.blackTransBack-orange{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.blackTransBack-orange:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,f4773d+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(244,119,61,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(244,119,61,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(244,119,61,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6f4773d',GradientType=0 ); /* IE6-9 */
}
.blackTransBack-blue{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.blackTransBack-blue:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,336fce+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(51,111,206,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(51,111,206,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(51,111,206,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6336fce',GradientType=0 ); /* IE6-9 */
}
.blackTransBack-green{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.blackTransBack-green:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,2db73d+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(45,183,61,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(45,183,61,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(45,183,61,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a62db73d',GradientType=0 ); /* IE6-9 */
}

.blackTransBack-yellow{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.blackTransBack-yellow:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,336fce+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(207, 168, 52, 0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(207, 168, 52, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(207, 168, 52, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d2a82ace',GradientType=0 ); /* IE6-9 */
}

@keyframes logo-shadow {
  0% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
  }
  100% {
      transform: scale(.6);
      -webkit-transform: scale(.6);
  }
}

.logo-shadow {
  animation: logo-shadow 3s ease-in-out infinite alternate;
  -webkit-animation: logo-shadow 3s ease-in-out infinite alternate;
}
table tbody tr{
border: none;
}

.transparent{
background-color: transparent !important;
}

.list-group-item, .table td, .table th, .table thead th, .table tr{
border: none !important;
}

.noBorder{
border: none !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0.2);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: var(--blue-medium);
    float: right;
    clear: both;
    font-size: 28px;
    font-weight: bold;
    transition: 1s all;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.bold{
  font-weight: bold;
}
