.swagger-ui .global-server-container .servers-title{
  font-weight: lighter;
  font-size: 9px;
  margin-left: 10px;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method{
  background-color: var(--blue-medium);
}

.swagger-ui .opblock.opblock-get .opblock-summary-method{
  background-color:var(--blue-dark);
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method{
  background-color: var(--blue-light);
}

.swagger-ui .opblock.opblock-put .opblock-summary-method{
  background-color: var(--blue-light);
}

.swagger-ui .info .title{
  color: var(--blue-dark);
}

.swagger-ui select{
  border: var(--blue-medium) solid 2px;
  color: var(--blue-light);
  font-weight: lighter;
}

.swagger-ui .info{
  text-align: center;
}

.swagger-ui .info hgroup.main a:hover{
  color: var(--blue-medium) !important;
}

.swagger-ui .info a:hover{
  color: var(--blue-medium) !important;
}

.swagger-ui .servers>label {
    font-size: 12px;
    margin: auto !important;
    font-family: sans-serif;
    color: #3b4151;
}
