{% extends "main.html" %}
{% block content %}
				<!-- Banner -->
					<section id="banner">
						<div class="content primary">
							<header>
								<h1>{{site_name}}</h1>
								<p>Build Connected Knowledge Base for Biomedical Discovery</p>
							</header>
							<ul class="actions">
								<li><a href="#one" class="button big wide scrolly">Learn More</a></li>
							</ul>
						</div>
						<div class="content secondary">
							<header>
								<h3>Three key areas we are focusing on:</h3>
							</header>
							<div class="inner">
								<div class="features">
									<section>
										<span class="icon fa-cogs major"></span>
										<h3>Data Infrastructure</h3>
										<p>Build high-performance scalable biological data access APIs</p>
									</section>
									<section>
										<span class="icon fa-connectdevelop major"></span>
										<h3>Semantic Web</h3>
										<p>Connect distributed knowledge via Linked Data technology</p>
									</section>
									<section>
										<span class="icon fa-line-chart major"></span>
										<h3>Biomedical Discovery</h3>
										<p>Apply integrated Knowledge Base for biomedical discovery</p>
									</section>
								</div>
							</div>
						</div>
						<!-- <video src="images/banner.mp4" muted autoplay loop playsinline></video> -->
					</section>

				<!-- Section -->
					<section id="one" class="main">
						<header class="accent1">
							<h2>BioThings APIs</h2>
							<p>We build a collection of high-performance biological APIs</p>
						</header>
						<ul class="tabs">
							<li>
								<h3>MyGene.info</h3>
								<h4 class="center">Gene Annotation Query as a Service</h4>
								<div class="spotlight">
									<ul>
										<li>
											<h4>High-performance</h4>
											<p>Fast API access to update-to-date Gene annotations.</p>
										</li>
										<li>
											<h4>Up-to-date</h4>
											<p>Weekly updated gene annotations from over 30 sources.</p>
										</li>
									</ul>
									<span class="image"><a href="http://mygene.info" target="_blank"><img src="static/img/mygene_info_logo.svg" alt="" /></a>
									<br /><p class="center"><a href="http://mygene.info" target="_blank">Visit MyGene.info</a></p>
									</span>
									<ul>
										<li>
											<h4>Pre-integrated</h4>
											<p>Gene annotations for >20M genes (>17K species) are pre-integrated.</p>
										</li>
										<li>
											<h4>Simple to use</h4>
											<p>Just two end-points to retrieve annotations via Gene IDs or any query term.</p>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<h3>MyVariant.info</h3>
								<h4 class="center">Variant Annotation as a Service</h4>
								<div class="spotlight">
									<ul>
										<li>
											<h4>High-performance</h4>
											<p>Fast API access to update-to-date human variant annotations..</p>
										</li>
										<li>
											<h4>Up-to-date</h4>
											<p>Monthly updated variant annotations from 18 sources.</p>
										</li>
									</ul>
									<span class="image"><a href="http://myvariant.info" target="_blank"><img src="static/img/myvariant_info_logo.svg" alt="" /></a>
										<br /><p class="center"><a href="http://myvariant.info" target="_blank">Visit MyVariant.info</a></p>
									</span>
									<ul>
										<li>
											<h4>Pre-integrated</h4>
											<p>Variant annotations for >400M human variants are pre-integrated.</p>
										</li>
										<li>
											<h4>Simple to use</h4>
											<p>Just two end-points to retrieve annotations via HGVS IDs or any query term.</p>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<h3>MyChem.info</h3>
								<h4 class="center">The same high-performance BioThings API for chemicals and drugs</h4>
								<div class="spotlight">
									<ul>
										<li>
											<h4>High-performance</h4>
											<p>Fast API access to update-to-date chemical/drug annotations..</p>
										</li>
										<li>
											<h4>Up-to-date</h4>
											<p>Monthly updated chemical/drug annotations over 10 sources.</p>
										</li>
									</ul>
									<span class="image"><a href="http://mychem.info" target="_blank"><img src="static/img/mychem_info_logo.svg" alt="" /></a>
										<br /><p class="center"><a href="http://mychem.info" target="_blank">Visit MyChem.info API docs</a><br />(its main website coming soon)</p>
									</span>
									<ul>
										<li>
											<h4>Pre-integrated</h4>
											<p>Annotations for >90M chemicals/drugs are pre-integrated.</p>
										</li>
										<li>
											<h4>Simple to use</h4>
											<p>Just two end-points to retrieve annotations via InChIKey or any query term.</p>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</section>

				<!-- Section -->
					<section id="two" class="main accent2">
						<header>
							<h2><a href="http://biothings.io" target="_blank">BioThings SDK</a></h2>
							<p>A Software Developement Kit to turn a data file to an API </p> <br />
							   <p>See <a href="http://docs.biothings.io/en/latest/doc/tutorial.html">the tutorial</a> and <a href="http://docs.biothings.io">the docs</a> (in-progres)</p>
						</header>
						<div class="inner">
							<span class="image main fade"><a href="http://biothings.io"><img src="/static/img/biothings_screen.jpg" alt="" /></a></span>
						</div>
					</section>

					<!-- Section -->
						<section id="three" class="main alt">
							<header>
								<h2><a href="http://smart-api.info" target="_blank">SmartAPI</a></h2>
								<p>Build interoperability across APIs</p>
							</header>
							<div class="inner">
								<span class="image main fade"><img src="/static/img/smartapi_screen.jpg" alt="" /></span>
							</div>
						</section>

				<!-- Section -->
					<section id="four" class="main accent">
						<a name="news"></a>
						<header>
							<h2>What's new</h2>
						</header>
						<div class="inner">
							<div class="posts">
								{% for post in posts %}
								<div>
									<article class="box">
										<div class="content">
											<h3>{{post.title}}</h3>
											<p>{{post.html|striptags|truncate(100)}}</p>
											<ul class="actions">
												<li><a href="/blog/{{post.slug}}" class="button small">More</a></li>
											</ul>
										</div>
									</article>
								</div>
								{% endfor %}
							</div>
							<p class="more_news"><a href="/blog" class="button special fit small">View more news</a></p>
						</div>
					</section>

					<!-- Section -->
						<section id="five" class="main alt">
							<a name="team"></a>
							<header>
								<h2>Our Team</h2>
								<p></p>
							</header>
							<div class="inner">
								<!-- <span class="image main"><img src="images/pic04.jpg" alt="" /></span> -->

										<div class="circular-image">
											<img src="//www.gravatar.com/avatar/108605daee6b3c24d02db9753637a66b.png?s=128" alt="Chunlei Wu">
											<p class="team-intro"> <a href="/the-team-chunlei-wu">Chunlei Wu</a><br /><a href="https://twitter.com/chunleiwu">@chunleiwu</a></p>
											<p class="team-role"> PI </p>
										</div>

										<div class="circular-image">
										<img src="//1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=128" alt="Cyrus Afrasiabi">
										<p class="team-intro"><a href="/the-team-cyrus-afriasiabi">Cyrus Afrasiabi</a><br /><a href="https://twitter.com/"></a></p>
										<p class="team-role"> Research Programmer </p>
										</div>

										<div class="circular-image">
										<img src="//secure.gravatar.com/avatar/9c07b88c3d3653cc037500f22e947181?s=128" alt="Sebastien Lelong">
										<p class="team-intro"><a href="/the-team-sebastien-lelong">Sebastien Lelong</a><br /><a href="https://twitter.com/"></a></p>
										<p class="team-role"> Research Programmer </p>
										</div>

										<div class="circular-image">
										<img src="//www.gravatar.com/avatar/4269dd248a5d486a8dff537464769e56.png?s=128" alt="Jiwen (Kevin) Xin">
										<p class="team-intro"><a href="/the-team-jiwen-xin">Jiwen (Kevin) Xin&nbsp;*</a><br /><a href="https://twitter.com/"></a></p>
										<p class="team-role"> Ph.D. Candidate </p>
										</div>

										<div class="circular-image">
										<img src="//www.gravatar.com/avatar/87106f056dbac5e527a98db0ab77af57?s=128" alt="Ginger Tsueng">
										<p class="team-intro"><a href="/the-team-ginger-tsueng">Ginger Tsueng&nbsp;*</a><br /><a href="https://twitter.com/GTsueng">@GTsueng</a></p>
										<p class="team-role"> Staff Scientist </p>
										</div>

										<div class="circular-image">
										<img src="//1.gravatar.com/avatar/2dadc8b9025d02097a5f9fc38059370f?s=128" alt="Greg Taylor">
										<p class="team-intro"><a href="/the-team-greg-taylor">Greg Taylor</a><br /><a href="https://twitter.com/"></a></p>
										<p class="team-role"> Contracting Developer </p>
										</div>

										<div class="circular-image">
										<img src="//1.gravatar.com/avatar/2c3805f23261540aa73ac58178dd2290?s=128" alt="Byung Ryul Jeon">
										<p class="team-intro"><a href="/the-team-byung-ryul-jeon">Byung Ryul Jeon</a><br /><a href="https://twitter.com/"></a></p>
										<p class="team-role"> Visiting Scientist </p>
										</div>

										<div class="circular-image">
											<img src="//avatars0.githubusercontent.com/u/23092057?s=128" alt="Marco Alvarado">
											<p class="team-intro"><a href="/the-team-marco-alvarado">Marco Alvarado</a><br /><a href="https://twitter.com/"></a></p>
											<p class="team-role"> Research Programmer </p>
										</div>
										<div class="circular-image">
										</div>

										<div class="team_footer"> <p>* Joint with <a href="http://sulab.org" target="_blank">The Su Lab</a></p></div>
							</div>

						</section>

						<!-- Section -->
							<section id="six" class="main accent2">
								<a name="join"></a>
								<header>
									<h2>Join us</h2>
								</header>
								<div class="inner">
									<p>If you are passionate about <span>Bioinformatics</span>, <span>Data Science</span>, <span>Semantic Web</span>,
										 <span>Machine-learning</span> and <span>Genomics</span>, you are welcome to contact us (cwu -at- scripps -dot- edu) and we will find a
									   suitable position (Scientist, Developer, PostDoc or Graduate Research Assistant) in our team.</p>
									<!-- <span class="image main"><img src="images/pic04.jpg" alt="" /></span> -->
								</div>
							</section>

{% endblock %}
			{% block extra_scripts %}
			<script>
				// https://stackoverflow.com/questions/487073/check-if-element-is-visible-after-scrolling
				function isScrolledIntoView(el_selector) {
					  var el = document.querySelector(el_selector);
				    var rect = el.getBoundingClientRect();
				    var elemTop = rect.top;
				    var elemBottom = rect.bottom;

				    // Only completely visible elements return true:
				    //var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
				    // Partially visible elements return true:
				    //isVisible = elemTop < window.innerHeight && elemBottom >= 0;
						// Either a elemTop is on the upper half of the screen or
						//  elemBottom is on the lower half of the screen:
						isVisible = elemTop>=0 && elemTop <= window.innerHeight/2 ||
						            elemBottom >= window.innerHeight/2 && elemBottom<=window.innerHeight;
				    return isVisible;
				}

				$(document).ready(function() {
						// toogle nav bar highlight based on the scrolling position
						var win = $(window);
						var section_list = ["#banner","#one", "#two", "#three", "#four", "#five", "#six"];
						var section_list = section_list.reverse();
						var nav_mapping = {
							"#banner": "#nav1",
							"#one": "#nav2",
							"#two": "#nav2",
							"#three": "#nav2",
							"#four": "#nav3",
							"#five": "#nav4",
							"#six": "#nav5",
						}
						// Each time the user scrolls
						win.scroll(function() {
							if ($("#nav").is(":visible")) {
								for (var i=0; i<section_list.length; i++){
									if(isScrolledIntoView(section_list[i])) {
										if (!$(nav_mapping[section_list[i]]).hasClass('current')){
											$("#nav>ul>li").removeClass('current');
											$(nav_mapping[section_list[i]]).addClass('current');
										}
										break;  //so that the lower section has the prioity to claim visible
									}
								}
							}
						});
	      });


			</script>
			{% endblock %}
