{% extends "main.html" %}
{% block title %}
		<title>{{post.title}}</title>
{% endblock %}

{% block extra_head %}
		{% set post_url = page_url + "/" + post.slug %}
		{% set post_desc|striptags|truncate(300) %}{{post.html}}{% endset %}
		{% set published_at = post['published_at'].isoformat() %}
		{% set updated_at = post['updated_at'].isoformat() %}
		<link rel="stylesheet" href="/static/css/prism.css" />
    <link rel="canonical" href="{{post_url}}" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="{{site_name}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{(post.og_title or post.title)|e}}" />
    <meta property="og:description" content="{{(post.og_description or post_desc)|e}}" />
    <meta property="og:url" content="{{post_url}}" />
    <meta property="article:published_time" content="{{published_at}}" />
    <meta property="article:modified_time" content="{{updated_at}}" />
		{% for tag in post.tags %}
    <meta property="article:tag" content="{{tag.name}}" />
    {% endfor %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{(post.twitter_description or post.title)|e}}" />
    <meta name="twitter:description" content="{{(post.twitter_description or post_desc)|e}}" />
    <meta name="twitter:url" content="{{post_url}}" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="{{post.primary_author.name}}" />
    <meta name="twitter:label2" content="Filed under" />
    <meta name="twitter:data2" content="{{post.tags|join(', ', attribute='name')}}" />
	<link rel="stylesheet" href="/static/css/app.css" />

    <script type="application/ld+json">
		{
		    "@context": "https://schema.org",
		    "@type": "Article",
		    "publisher": {
		        "@type": "Organization",
		        "name": "{{site_name}}"
		    },
		    "author": {
		        "@type": "Person",
		        "name": "{{post.primary_author.name}}",
		        "sameAs": []
		    },
		    "headline": "{{post.title|e}}",
		    "url": "{{post_url}}",
		    "datePublished": "{{published_at}}",
		    "dateModified": "{{updated_at}}",
		    "keywords": "{{post.tags|join(', ', attribute='name')}}",
		    "description": "{{post_desc|e}}",
		    "mainEntityOfPage": {
		        "@type": "WebPage",
		        "@id": "{{post_url}}"
		    }
		}
    </script>

{% endblock %}

{% block content %}
	{% if page_url == 'tryapi' %}
		<h1>Try API</h1>
	{% endif %}
	<!-- Section -->
		<section id="one" class="jumbotron carbonfiber p-1">
			<header class="d-flex justify-content-center align-items-center mt-2">
				<div class="w-100 text-center">
					<div class="logoBox m-auto bg-dark p-2 d-none d-md-block">
						<object id="my-svg" type="image/svg+xml" data="/static/img/mygene-api.svg" style="max-width:100px;"></object>
					</div>
					<h1 class="text-light lighter">
						{{post.title}}
					</h1>
					<section class="post-full-meta text-light mb-4">
							<span class="date-divider"> last updated: </span>
							<time class="post-full-meta-date" datetime="{{post.updated_at|datetimeformat("%Y-%m-%d")}}">{{post.updated_at|datetimeformat("%b %d %Y")}}</time>
					</section>
				</div>
			</header>
			<div class="container alert-light p-5 text-dark mb-5">
				{{post.html}}
			</div>
		</section>
{% endblock %}

{% block extra_scripts %}
<script src="/static/js/prism.js"></script>
<script>
	var app = new Vue({
	  el: '#one',
	  data: function(){
	    return {
	      sn:'',
	    }
	  },
		mounted:function(){
		  var self = this;

			$(document).ready(function() {
				new Vivus('my-svg', {duration: 100, type: 'oneByOne'});
			});

		  self.sn = "{{site_name}}"
		  // site specific classes and settings
		  if (self.sn) {
				let ltag = document.createElement( 'link' );
				ltag.setAttribute( 'rel', "stylesheet" );

		    switch (self.sn) {
		      case "MyGene.info":
					  ltag.setAttribute( 'href', "/static/css/gene.css" );
					  document.head.appendChild( ltag );
		        break;
		      case "MyChem.info":
						ltag.setAttribute( 'href', "/static/css/chem.css" );
						document.head.appendChild( ltag );
		        break;
		      case "MyVariant.info":
						ltag.setAttribute( 'href', "/static/css/variant.css" );
						document.head.appendChild( ltag );
		        break;
			case "MyDisease.info":
						ltag.setAttribute( 'href', "/static/css/disease.css" );
						document.head.appendChild( ltag );
		        break;
		      default:
		    }
		  }

		}
	})
</script>
{% endblock %}
