.swal2-popup{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,4f5256+100 */
	background: rgb(51,51,51) !important; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(79,82,86,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(79,82,86,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(79,82,86,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4f5256',GradientType=0 ); /* IE6-9 */
}

.swal2-popup .swal2-content{
	color: white !important;
}

.swal2-popup{
	width: 52em !important;
	border: 2px solid var(--yellow-medium) !important;
	box-shadow: 2px 2px 12px black !important;
}

.swal2-popup .swal2-image{
	-webkit-filter: drop-shadow(5px 5px 2px #222 ) !important;
	filter: drop-shadow(5px 5px 2px #222) !important;
}
