{% extends "main.html" %}
{% block content %}
<style type="text/css">
.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: var(--green-medium);
                             font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: var(--blue-dark); }
.renderjson .number        { color: grey; }
.renderjson .boolean       { color: var(--blue-light); }
.renderjson .key           { color: var(--orange-medium) }
.renderjson .keyword       { color: var(--orange-dark); }
.renderjson .object.syntax { color: var(--blue-light) }
.renderjson .array.syntax  { color: var(--orange-light); }

.btn-orange{
	background-color: var(--orange-medium);
}
.btn-orange:hover{
	background-color: var(--orange-light);
}
.asterisk{
    vertical-align:sub;
}
</style>

<section>
</div>
	<div class="bg-dark">
		<div class="jumbotron container-fluid bg-dark text-center chemHero" style="padding-bottom: 10px;">
      <div class="d-none d-sm-block">
        <object class="float" width="20%" data="/static/img/mychem-logo-shiny.svg" style="padding-top:100px;"></object>
  			<br />
  			<div class="logo-shadow blur" style="width: 15%; height: 15px; background: rgb(41, 47, 48); opacity:.4; border-radius:100%; margin: 0 auto;" ></div>
  			<h1 class="text-light logoFont lighter textShadow" style="margin-bottom: 10px; font-size: 6em;">
  				My<span style="color: var(--orange-light)">Chem</span>.info
  			</h1>
        <h3 class="text-light lighter smallCaps" style="font-size: 3vw;">
  				Chemical and Drug Annotation as a Service.
  			</h3>
      </div>
      <div class="d-sm-none d-block">
        <object class="float" width="60%" data="/static/img/mychem-logo.svg" style="padding-top:100px;"></object>
        <h1 class="text-light logoFont lighter textShadow" style="margin-bottom: 10px; font-size: 8vw;">
  				My<span style="color: var(--orange-light)">Chem</span>.info
  			</h1>
        <h3 class="text-light lighter smallCaps">
  				Chemical and Drug Annotation as a Service.
  			</h3>
      </div>

			<h1 id="testNum" class="text-light" style="margin-bottom: 10px; text-shadow:0px 0px 10px var(--orange-medium);">0</h1>
			<p class="text-light smallCaps" style="font-size: 1.5em;">
				Requests in the last 30 days
			</p>
			<p class="text-center text-orange">
				Last Updated <a href="http://mychem.info/v1/metadata" target="_blank"><span id="buildDateTarget" class="text-light"></span></a>
			</p>
		</div>
		<div class="text-center padding40 container-fluid">
				<a href="/v1/api" class="mainButton margin20">Try Live API Now</a>
		</div>
		<div class="text-center">
			<a class="smallButton" href="http://docs.myvariant.info/en/latest/index.html" target="_blank">Docs <i class="fas fa-external-link-square-alt"></i></a>
			<a class="smallButton" href="https://stats.uptimerobot.com/polzSx91" target="_blank">API Status <i class="fas fa-external-link-square-alt"></i></a>
		</div>
<!-- Stats -->
<div class="container-fluid text-center chartBackground" style="margin: 20px 0px;">

	<section id="APIStatusInterface" class="transparent">
		<div class="transparent">
			<div>
				<h2 class="text-orange noMargin lighter">UpTime Quick Stats<span class="asterisk">*</span></h2>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<h3 class="text-light noMargin padding20">API Status: <span id="apiStatus">Status Unavailable</span></h3>
					<p class="text-light">
						UpTime Last 24 hours: <span id="daysRange1">?</span>%
					</p>
					<table class="table transparent table-sm noMargin">
						<thead>
							<th colspan="7" class="text-center text-light">
								Uptime: Last 7 Days
							</th>
						</thead>
						<tbody class="noBorder">
							<tr>
							<td class="text-muted text-center">
								<span class="text-light" id="yesterday">1 day ago</span>
								<br />
								<span class="text-orange"><span id="daysRange2">?</span>%</span>
							</td>
							<td class="text-muted text-center">
								<span class="text-light" id="days2">2 days ago</span>
								<br />
								<span class="text-orange"><span id="daysRange3">?</span>%</span>
							</td>
							<td class="text-muted text-center">
								<span class="text-light" id="days3">3 days ago</span>
								<br />
								<span class="text-orange"><span id="daysRange4">?</span>%</span>
							</td>
							<td class="text-muted text-center">
								<span class="text-light" id="days4">4 days ago</span>
								<br />
								<span class="text-orange"><span id="daysRange5">?</span>%</span>
							</td>
							<td class="text-muted text-center">
								<span class="text-light" id="days5">5 days ago</span>
								<br />
								<span class="text-orange"><span id="daysRange6">?</span>%</span>
							</td>
							<td class="text-muted text-center">
								<span class="text-light" id="days6">6 days ago</span>
								<br />
								<span class="text-orange"><span id="daysRange7">?</span>%</span>
							</td>
							<td class="text-muted text-center">
								<span class="text-light" id="days7">7 days ago</span>
								<br />
								<span class="text-orange"><span id="daysRange8">?</span>%</span>
							</td>
						</tr>
						</tbody>
				</table>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transparent">
					<ul class="list-group">
						<li class="list-group-item bg-dark text-center text-muted transparent">
							<div class="row justify-content-md-center">
								<div class="col-md-auto">
									<table class="table table-sm table-dark noMargin noBorder transparent">
										<thead class="noBorder">
											<th class="text-center text-light">This Week</th>
											<th class="text-center text-light">This Month</th>
											<th class="text-center text-light">Last Month</th>
										</thead>
										<tbody>
											<tr class="transparent">
												<td><h3 class="text-orange noMargin"><span id="daysRange9">?</span>%</h3></td>
												<td><h3 class="text-orange noMargin"><span id="daysRange10">?</span>%</h3></td>
												<td><h3 class="text-orange noMargin"><span id="daysRange11">?</span>%</h3></td>
											</tr>
                      <tr>
                        <td colspan="3">
                          <p class="smallFont text-light">
                            * Monitored every 5 minutes
                          </p>
                        </td>
                      </tr>
										</tbody>
									</table>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

		<div class="bg-dark fullWidth padding40 row marginFix" >
			  <div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/performance-2.svg' width="100px"></object>
					<h3 class="text-orange lighter smallCaps">High performance</h3>
					<p class="smallCaps">
						Fast API access to update-to-date chemical/drug annotations.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/uptodate-2.svg' width="100px"></object>
					<h3 class="text-orange lighter smallCaps">Up-to-date</h3>
					<p class="smallCaps">
						Monthly updated chemical/drug annotations over 10 sources.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/integrated-2.svg' width="100px"></object>
					<h3 class="text-orange lighter smallCaps">Pre-integrated</h3>
					<p class="smallCaps">
						Annotations for >90M chemicals/drugs are pre-integrated.
					</p>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 padding20 text-center bg-dark text-light" style="border: none;">
					<object data='/static/img/simple-2.svg' width="100px"></object>
					<h3 class="text-orange lighter smallCaps">Simple to use</h3>
					<p class="smallCaps">
						Just two end-points to retrieve annotations via InChIKey or any query term.
					</p>
				</div>
		</div>
	</div>
</section>

<!-- Examples for large and medium devices -->
<section class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-light" style="max-height: 800px; overflow: scroll; position: relative;">
			<ul class="list-group" >
				<li class="list-group-item center" style="border-radius: 0px !important;">
					<h2 class="text-muted lighter noMargin">Query Examples</h2>
				</li>
			  <li class="list-group-item">
					<h4 class="noMargin">Retrieve chemical/drug objects based on common IDs</h4>
					<br />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/drug/<span class="text-orange bold">FTALBRSUTCGOEG-UHFFFAOYSA-N </span>(InChIKey)
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/drug/FTALBRSUTCGOEG-UHFFFAOYSA-N' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
          <hr />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/drug/<span class="text-orange bold">DB00741 </span>(Drugbank ID)
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/drug/DB00741' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
          <hr />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/drug/<span class="text-orange bold">CHEMBL744 </span>(ChEMBL Compound ID)
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/drug/CHEMBL744' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
          <hr />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/drug/<span class="text-orange bold">7LJ087RS6F </span>(UNII Compound ID)
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/drug/7LJ087RS6F' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
          <hr />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/drug/<span class="text-orange bold">CHEBI:8863 </span>(CHEBI ID)
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/drug/CHEBI:8863' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
				</li>
        <li class="list-group-item">
					<h4 class="noMargin">Retrieve by Drug Name</h4>
					<br />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/query<span class="text-orange bold">?q=drugbank.name:riluzole</span>
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/query?q=drugbank.name:riluzole' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
				</li>
        <li class="list-group-item">
					<h4 class="noMargin">Retrieve chemicals/drugs targeting protein P24942(uniprot id)</h4>
					<br />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/query<span class="text-orange bold">?q=drugbank.targets.uniprot:P24941</span>
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/query?q=drugbank.targets.uniprot:P24941' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
				</li>
        <li class="list-group-item">
					<h4 class="noMargin">Retrieve chemicals/drugs having indication C0419527 (UMLS CUI)</h4>
					<br />
					<span class="text-orange bold">GET</span> http://mychem.info/v1/query<span class="text-orange bold">?q=drugcentral.drug_use.indication.umls_cui:C0419527</span>
					<button style="cursor: pointer !important;" data-url='http://mychem.info/v1/query?q=drugcentral.drug_use.indication.umls_cui:C0419527' type="button" class="btn btn-orange float-right text-orange callButton">Run</button>
				</li>
				<li class="list-group-item">
					<h4 class="noMargin">Batch queries? Yes, supported!</h4>
					<br />
					<span class="text-orange bold">POST</span> http://mygene.info/v1/chem
					<!-- <a target="_blank" href='http://docs.mygene.info/en/latest/doc/annotation_service.html#batch-queries-via-post' type="button" class="btn btn-dark float-right">Learn More</a> -->
				</li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 codeBack" style="max-height: 800px; overflow: scroll; border-style: inset; border: 4px #c9c9c9 solid;box-shadow: inset 0 0 10px #000000;">
			<div id="loading" class="center" style="display: none;">
				<h2 style="padding-top: 50%;" class="text-primary padding20">Loading...</h2>
			</div>
			<pre id="callResults" class="padding20 text-dark" style="font-weight: bold;">

			</pre>
		</div>
	</div>
</section>

<!-- Table display for small devices -->
<section class="text-center text-light d-block d-sm-block d-md-none d-lg-none d-xl-none bg-dark">
	<h2 class="text-muted lighter">Query Examples</h2>
  <!-- <span class="text-muted">Scroll For More <i class="fas fa-hand-point-down text-orange Ani"></i></span> -->
	<table class="table table-dark table-responsive">
  <thead>
    <tr>
      <th class="text-muted text-center" scope="col">Description</th>
      <th class="text-muted text-center" scope="col">Query</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align:middle;"><h4 class="noMargin text-muted smallFont">Retrieve chemical objects based on common IDs</h4></td>
      <td style="vertical-align:middle;" class="smallFont">
        <span class="text-orange bold">GET&nbsp;</span> http://mychem.info/v1/drug/<span class="text-orange bold">FTALBRSUTCGOEG-UHFFFAOYSA-N </span>
        <span class="bold">(InChIKey)</span>
        <hr />
        <span class="text-orange bold">GET&nbsp;</span> http://mychem.info/v1/drug/<span class="text-orange bold">DB00741 </span>
        <span class="bold">(Drugbank ID)</span>
        <hr />
        <span class="text-orange bold">GET&nbsp;</span> http://mychem.info/v1/drug/<span class="text-orange bold">CHEMBL744 </span>
        <span class="bold">(ChEMBL Compound ID)</span>
        <hr />
        <span class="text-orange bold">GET&nbsp;</span> http://mychem.info/v1/drug/<span class="text-orange bold">7LJ087RS6F </span>
        <span class="bold">(UNII Compound ID)</span>
        <hr />
        <span class="text-orange bold">GET&nbsp;</span> http://mychem.info/v1/drug/<span class="text-orange bold">CHEBI:8863 </span>
        <br /><span class="bold">(CHEBI ID)</span>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><h4 class="noMargin text-muted smallFont">Retrieve by Drug Name</h4></td>
      <td style="vertical-align:middle;" class="smallFont"><span class="text-orange bold">GET</span>&nbsp;http://mychem.info/v1/query<span class="text-orange bold">?q=USNINKBPBVKHHZ-CYUUQNCZSA-L</span></td>
    </tr>
    <tr>
      <td style="vertical-align:middle;"><h4 class="noMargin text-muted smallFont">Retrieve chemicals targeting protein P24942(uniprot id)</h4></td>
      <td style="vertical-align:middle;" class="smallFont"><span class="text-orange bold">GET</span>&nbsp;http://mychem.info/v1/query<span class="text-orange bold">?q=drugbank.targets.uniprot:P24941</span></td>
    </tr>
		<tr>
      <td style="vertical-align:middle;"><h4 class="noMargin text-muted smallFont">Batch queries? Yes, supported!</h4>
      <td style="vertical-align:middle;" class="smallFont">
				<span class="text-orange bold">POST</span> http://mygene.info/v1/chem
				<br />
				<a target="_blank" href='http://mychem.info/v1/api' type="button" class="smallButton text-light">Learn More <i class="fas fa-external-link-square-alt"></i></a>
			</td>
    </tr>
  </tbody>
</table>
</section>

<!-- Section -->
	<section id="four" class="main accent bg-dark">
		<a name="news"></a>
		<header class="text-center padding20">
			<h2 class="text-muted lighter padding20">What's new</h2>
		</header>
		<div class="inner">
			<div class="posts">
				{% for post in posts %}
				<div>
					<article class="box">
						<div class="content">
							{%if post.author.profile_image %}
			        <img class="post_author_img" src={{post.author.profile_image}} />
              {% if post.author.slug %}
                <a href="/author/{{post.author.slug}}">{{post.author.name}}</a>
              {% else %}
                {{post.author.name}}
              {% endif %}
							{% else %}
							<img class="post_author_img" src='/static/img/mychem-default-user.png' />
              {% if post.author.slug %}
                <a href="/author/{{post.author.slug}}">{{post.author.name}}</a>
              {% else %}
                {{post.author.name}}
              {% endif %}
			        {% endif %}
							<a href="/blog/{{post.slug}}">
								<h4 class="text-orange">{{post.title}}</h4>
							</a>
							<p class="text-muted">{{post.html|striptags|truncate(100)}}</p>
							<ul class="actions">
								<li><a href="/blog/{{post.slug}}" class="btn btn-dark text-orange btn-sm small">More</a></li>
							</ul>
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
			<p class="more_news" style="padding-bottom:40px;"><a href="/blog" class="mainButton special fit small">More&nbspNews</a></p>
		</div>
	</section>

	<section class="text-light" style="background-color: var(--orange-dark); padding: 20px 10%;">
		<p class="noMargin padding20">
			<b class="text-light">Medical Disclaimer: This resource is intended for purely research purposes. It should not be used for emergencies or medical or professional advice.</b>
		</p>
	</section>


{% endblock %}
			{% block extra_scripts %}
			<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
			<script src="/static/js/countUp.js"></script>
			<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script> -->
			<script src="/static/js/app.js"></script>
			<script src="/static/js/moment.js"></script>
			<script src="/static/js/renderjson.js"></script>
			<script>

			$( document ).ready(function() {
					var yesterday = moment().subtract(1, 'days').format('MMM DD');
					var days2 = moment().subtract(2, 'days').format('MMM DD');
					var days3 = moment().subtract(3, 'days').format('MMM DD');
					var days4 = moment().subtract(4, 'days').format('MMM DD');
					var days5 = moment().subtract(5, 'days').format('MMM DD');
					var days6 = moment().subtract(6, 'days').format('MMM DD');
					var days7 = moment().subtract(7, 'days').format('MMM DD');
					$('#yesterday').html(yesterday);
					$('#days2').html(days2);
					$('#days3').html(days3);
					$('#days4').html(days4);
					$('#days5').html(days5);
					$('#days6').html(days6);
					$('#days7').html(days7);
			});

			$('.callButton').on('click tap', function(){
				var myUrl = $(this).data('url');
				$('#callResults').html('');
				$('#loading').show();
				$.ajax({
					url: myUrl,
					dataType: 'JSON',
     			contentType: 'application/json;charset=UTF-8',
					success:function(result){
						$('#loading').hide();
						renderjson.set_show_to_level(7);
						$('#callResults').html( renderjson(result) );
				}});
			})

			$(document).on('click','a',function(e){
				if (e.target.href.slice(-1) === '#') {
					return false;
				}
			})

			</script>
			{% endblock %}
