{% extends "main.html" %}
{% block title %}
		<title>{{post.title}}</title>
{% endblock %}

{% block extra_head %}
		{% set post_url = page_url + "/" + post.slug %}
		{% set post_desc|striptags|truncate(300) %}{{post.html}}{% endset %}
		{% set published_at = post['published_at'].isoformat() %}
		{% set updated_at = post['updated_at'].isoformat() %}
		<link rel="stylesheet" href="/static/css/prism.css" />
    <link rel="canonical" href="{{post_url}}" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="{{site_name}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{(post.og_title or post.title)|e}}" />
    <meta property="og:description" content="{{(post.og_description or post_desc)|e}}" />
    <meta property="og:url" content="{{post_url}}" />
    <meta property="article:published_time" content="{{published_at}}" />
    <meta property="article:modified_time" content="{{updated_at}}" />
		{% for tag in post.tags %}
    <meta property="article:tag" content="{{tag.name}}" />
    {% endfor %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{(post.twitter_description or post.title)|e}}" />
    <meta name="twitter:description" content="{{(post.twitter_description or post_desc)|e}}" />
    <meta name="twitter:url" content="{{post_url}}" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="{{post.author.name}}" />
    <meta name="twitter:label2" content="Filed under" />
    <meta name="twitter:data2" content="{{post.tags|join(', ', attribute='name')}}" />
    <!--<meta name="twitter:site" content="@biothingsapi" />-->

    <script type="application/ld+json">
		{
		    "@context": "https://schema.org",
		    "@type": "Article",
		    "publisher": {
		        "@type": "Organization",
		        "name": "{{site_name}}"
		        //"logo": "http://wulab.io/content/images/2017/04/biothings_logo_316.png"
		    },
		    "author": {
		        "@type": "Person",
		        "name": "{{post.author.name}}",
		        //"url": "http://wulab.io/author/cyrus-afrasiabi/",
		        "sameAs": []
		    },
		    "headline": "{{post.title|e}}",
		    "url": "{{post_url}}",
		    "datePublished": "{{published_at}}",
		    "dateModified": "{{updated_at}}",
		    "keywords": "{{post.tags|join(', ', attribute='name')}}",
		    "description": "{{post_desc|e}}",
		    "mainEntityOfPage": {
		        "@type": "WebPage",
		        "@id": "{{post_url}}"
		    }
		}
    </script>

{% endblock %}

{% block content %}
				{% if page_url == 'tryapi' %}
					<h1>Try API</h1>
				{% endif %}
				<!-- Section -->
					<section id="one" class="main accent bg-dark">
						<header class="accent" style="padding-top: 10vh;">
							<div style="width: 100px;"><object id="my-svg" type="image/svg+xml" data="/static/img/mychem-api.svg"></object></div>
							<h2 class="text-orange smallCaps">
								{{post.title}}
							</h2>
							<section class="post-full-meta">
								  <span class="date-divider text-muted"> last updated: </span>
									<time class="post-full-meta-date text-muted" datetime="{{post.updated_at|datetimeformat("%Y-%m-%d")}}">{{post.updated_at|datetimeformat("%b %d %Y")}}</time>
									<!--<span class="date-divider"> by {{post.author.name}}</span>
									<ul class="actions">
										{% for tag in post.tags %}
										<li>
											<a href="/blog?tag={{tag.slug}}" class="button icon fa-tag tiny">{{tag.name}}</a>
										</li>
										{% endfor %}
									</ul>-->
							</section>
						</header>
						<div class="inner post-inner bg-light">
							<div class="content">
								{{post.html}}
							</div>
						</div>
					</section>
{% endblock %}

{% block extra_scripts %}
			<script src="/static/js/prism.js"></script>
			<script>
				$(document).ready(function() {
					$("#nav>ul>li").removeClass('current');
					// $("#nav3").addClass('current');
					new Vivus('my-svg', {duration: 100, type: 'oneByOne'});

				});
			</script>
{% endblock %}
